{% extends 'base.html.twig' %}

{% block title %}Edit Brand{% endblock %}

{% block main %}
    <div class="container brand-container form">
        <div class="btn-create">
            <h1>Modifier la marque</h1>
            <a class="btn btn-secondary" href="{{ path('brand_index') }}">Retour à la liste</a>
        </div>

        {{ include('brand/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


        {{ include('brand/_delete_form.html.twig') }}
    </div>
{% endblock %}
