{% extends 'base.html.twig' %}

{% block title %}New Brand{% endblock %}

{% block main %}
    <div class="container brand-container form">
        <div class="btn-create">
            <h1>Créer une nouvelle marque</h1>
            <a class="btn btn-secondary" href="{{ path('brand_index') }}">Retour à la liste</a>
        </div>

        {{ include('brand/_form.html.twig') }}


    </div>
{% endblock %}
