{% extends "@FOSUser/layout.html.twig" %}


{% block fos_user_content %}
    <p>Un mail de confirmation vous a été envoyé à l'adresse {{ user.email }}.</p>
    <p>Vérifier vos messages et cliquer sur le lien d'activation afin de finaliser la création de votre compte.</p>
    <p>Merci</p>
{% endblock fos_user_content %}
