{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block main %}
<div class="container product-container form">
    <div class="btn-create">
        <h1>Créer un nouveau parfum</h1>
        <a class="btn btn-secondary" href="{{ path('product_index') }}">Retour à la liste</a>
    </div>
    {{ include('product/_form.html.twig') }}
</div>
{% endblock %}
