{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
    {# {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }} #}
    Un email a été envoyé à l'adresse email associé à votre compte {{ app.request.query.get('username') }}
</p>
{% endblock %}
